# Data Server & Backend 
# nanti bisa ganti nama database, sesuai dengan keperluan kalian
NODE_ENV=
PORT=

#Konfigurasi Database
DATABASE_URL=
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=

#Mailler Konfigurasi
MAIL_HOST=
MAIL_PORT=
#secure true
MAIL_USER=
MAIL_PASS=

#Konfigurasi Secret Json web token
JWT_SECRET=

#Konfigurasi Client
CLIENT_HOST=